[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "~=1.14"
google-cloud-pubsub = "~=0.45"
google-cloud-storage = "~=1.16"
peewee = "~=3.9"
python-dateutil = "~=2.8"
pytz = "*"
requests= "~=2.22"

[dev-packages]
coverage = "~=4.5"
isort = "~=4.3"
mypy = "~=0.670"
pycodestyle = "~=2.4"
pylint = "~=2.3"
pytest = "~=4.3"
responses = "~=0.10"

[requires]
python_version = "3.7"
